.container {
    /* w1480 */
    width: 1480px;
    margin-left: 98px;
}

.head-title{
    display: block;
    margin-top:63px;
    /*margin-left: 98px;*/
    color: cyan;
    font-size: 80px;
    line-height: 94px;
}
.black-text{
    color: black;
}
.top-menu{
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 1283px;
    align-items: center;
    background-color: #35444F;
}
.top-menu-item {
    border: 1px solid white;
    padding: 35px 35px;
    font-size: 24px;

}
.top-menu-link{
    color: white;
}
.top-menu-item:hover {
    background-color: #222F3A;
}

.side-menu{
    width: 344px;
    height: 399px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
.side-menu-item{
    padding: 26px 44px;
    height: 81px;
    align-items: flex-start;
    font-size: 27px;

}
.side-menu-link{
    color: #35444F;
}
.side-menu-item:hover{
    background-color: #DBDBDB;
    padding-left: 80px;
}
.side-menu-link:hover{
    color: black;
}
.info {
    width: 1280px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.info-img{
    width: 885px;
    height: 529px;
    display: flex;
    border: 1px solid black;
}
.img-kozel{
    padding: 75px 297px;
}
.info-wrapper {
    width: 885px;
    margin-left: 491px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.text-wrapper{
    margin-top: 35px;
    font-size: 18px;
    line-height: 22px;
    color: #505050;
    align-items: flex-start;

}
body{
    font-family: 'Roboto', sans-serif;
}
.nav {
    width: 1280px;
    padding: 22px 0 22px 35px;
    margin-top: 54px;
    margin-bottom: 30px;
    margin-left:98px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
}
.nav-slogan{
    padding-right: 40px;
    font-size: 24px;
}

.nav-menu-lower {
    text-decoration: none;
    list-style: none;
    display: flex;
    column-gap: 69px;
    font-size: 28px;
}
.nav-menu-lower-link:hover{
    color: darkcyan;
    text-decoration: underline;
}
