
.nav {
    padding: 22px 0 22px 35px;
    margin-top: 54px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
}
.nav-slogan{
    padding-right: 40px;
    font-size: 24px;
}

.nav-menu-lower {
    text-decoration: none;
    list-style: none;
    display: flex;
    column-gap: 69px;
    font-size: 28px;
}
.nav-menu-lower-link:hover{
    color: darkcyan;
    text-decoration: underline;
}
