* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}
.hero {
    padding: 25px 0 25px 330px;
    word-spacing: 60px ;
    /*text-align: center;*/
}
.menu-link{

    color: #FF0000;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.phone-img
{
    margin-bottom: 48px;
}
.title{
    /*font-family: sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-left: 343px;
    padding-bottom: 20px;
}
.main-text{
    line-height:30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    padding-left: 68px;
    padding-right: 68px;
    text-align: center;
    margin-bottom: 85px;
}
.p{
    margin-bottom: 28px;
}
.start{
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    padding: 18px 42px;
    background: #FF0000;
    /*border-radius: 4px;*/
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    margin-left: 545px;
}
.coment{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    letter-spacing: 2px;
    margin-top: 100px;
    text-align: right;
    padding: 0px 105px 29px 713px;
}

/*.container{*/
/*    width: 117px;*/
/*    margin: 0 auto;*/
/*}*/